*{
    /* -------------Màu nền--------------- */
    /* Đen đậm */
    color:#0B0C10;
    color: rgb(11, 12, 16);
    /* Đen nhạt */
    color: #1F2833;
    color: rgb(31, 40, 51);

    
    /* -------------Màu chữ--------------- */
    color:white ;

    /* Xanh ngọc  */
    color: #66FCF1 ;
    color: rgb(102, 252, 241);
    color:#45A29E;
    color:rgb(69, 162, 158);

}